.money-container {
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 300px;
  text-align: center;
  margin: 0 auto; /* Центрирование по горизонтали */
}

.amount {
  font-size: 2em;
  color: #2e8b57;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.money-img {
  width: 60px;
  height: auto;
  margin-right: 5px;
}

#clickable-area {
  background: #007bff linear-gradient(45deg, #5e7a9c, #3665bd);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0 5px 5px;
  height: 150px;
}

.message {
  position: absolute;
  padding: 10px;
  /*background-color: #333;*/
  /*background-color: rgba(0, 0, 0, 0.5);*/
  color: white;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  transition: opacity 2s;
  opacity: 1;
}